@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  margin-top: 10px;
}
.header {
  display: flex;
  flex-direction: row;
  font-family: "Nunito", sans-serif;
  margin-top: 20px;
  margin-left: 20px;
}
.App input {
  margin-left: 20px;
  margin-top: 20px;
  background-color: white;
  border-color: black;
  border-radius: 6px 6px 6px 6px;
  font-size: 20px;
  padding: 15px;
  height: 30px;
  width: 300px;
}
.datebox {
  margin-left: 20px;
  border-color: black;
  border-radius: 6px 6px 6px 6px;
  font-size: 20px;
  padding: 0px;
  height: 60px;
  width: 900px;
}

.datebox input {
  margin-left: 0px;
  margin-top: 20px;
  background-color: white;
  border-color: black;
  border-radius: 6px 6px 6px 6px;
  font-size: 20px;
  padding: 15px;
  height: 30px;
  width: 150px;
}

.type {
  margin-top: 20px;
  border-color: black;
  margin-left: 40px;
  margin-right: 70px;
  background-color: whitesmoke;
  font-size: 18px;
  padding: 15px;
  height: 80px;
  width: 1400px;
  display: flex;
  flex-direction: row;
}

.date {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.button {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 750px;
  font-size: 15px;
  border-radius: 4px 4px 4px 4px;
  margin-top: 10px;
  height: 50px;
  width: 200px;
}
.mid {
  margin-left: 40px;
  margin-top: 20px;
  margin-right: 70px;

  background-color: whitesmoke;
  border-color: black;
  font-size: 22px;
  padding: 15px;
  height: 30px;
  width: 1400px;
}

.image {
  width: 3;
  height: 3;
}
